useDynLib(femR, .registration=TRUE)
import(methods, Rcpp)
import(RcppEigen)
importFrom(Rcpp, evalCpp)
exportPattern("^[^\\.]")
S3method("*", DiffOpObject)
S3method("+", DiffOpObject)
S3method("-", DiffOpObject)
S3method("*", FunctionObject)
S3method("*", FunctionGradObject)
S3method("plot", FunctionObject)
S3method("contour", FunctionObject)
